<p id="notice"><%= notice %></p>

<p>
  <strong>Date played:</strong>
  <%= @game.played_on %>
</p>

<p>
  <strong>Player one:</strong>
  <%= @game.player_one.email %>
</p>

<p>
  <strong>Player two:</strong>
  <%= @game.player_two.email %>
</p>

<p>
  <strong>Player one score:</strong>
  <%= @game.player_one_score %>
</p>

<p>
  <strong>Player two score:</strong>
  <%= @game.player_two_score %>
</p>

<%= link_to 'Back', games_path %>
